<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <title>Sentiment Analysis</title>
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
  <div class="container">
    <h3>Welcome To Sentiment Analyzer</h3>
    <p>Find out the polarity of your text with our sentiment analyzer.</p>
    <form method="POST">
      <textarea name="text" placeholder="Say Something: ...." rows="10" cols="109"></textarea><br><br>
      <input class="example_a" type="submit">
    </form>
    <div>
      {% if compound %}
      <h4>The Sentiment of</h4>
      <div class="input-container">{{ text }}</div>
      <h4>is {{ compound * 100}}% positive !</h4>
      <div class="flexible-container">
        <div class="history-container">
          <h4>History</h4>
          {% for input in inputs %}
          <div class="history-content-container">
            {{input[0]}}
          </div>
          {% endfor %}
        </div>

        <div class="score-container">
          <h4>Score table</h4>
          <table>
            <tr>
              <th>SENTIMENT METRIC</th>
              <th>SCORE</th>
            </tr>
            <tr>
              <td>Positive</td>
              <td>{{positivity}}</td>

            </tr>
            <tr>
              <td>Neutral</td>
              <td>{{neutrality}}</td>

            </tr>
            <tr>
              <td>Negative</td>
              <td>{{negativity}}</td>

            </tr>
            <tr>
              <td>Compound</td>
              <td>{{compound}}</td>

            </tr>
          </table>
        </div>
      </div>
      {% else %}
      <div class="flexible-container">
        <div class="history-container">
          <h4>History</h4>
          {% for input in inputs %}
          <div class="history-content-container">
            {{input[0]}}
          </div>
          {% endfor %}
        </div>

        <div class="score-container">
          <h4>Score table</h4>
          <table>
            <tr>
              <th>SENTIMENT METRIC</th>
              <th>SCORE</th>
            </tr>
            <tr>
              <td>Positive</td>
              <td>-</td>

            </tr>
            <tr>
              <td>Neutral</td>
              <td>-</td>

            </tr>
            <tr>
              <td>Negative</td>
              <td>-</td>

            </tr>
            <tr>
              <td>Compound</td>
              <td>-</td>
            </tr>
          </table>
        </div>
      </div>
      {% endif %}
    </div>
    <form id="pseudo-form" class="pseudo-elem" method="POST">
      <input id="pseudo-input" name="text" />
    </form>
  </div>
</body>
<script defer>
  function submitHistory(e) {
    let histValue = e.target.textContent
    document.getElementById('pseudo-input').value = histValue
    document.getElementById('pseudo-form').submit()
  };

  const elem = document.getElementsByClassName("history-content-container")
  const elemLength = elem.length
  for (var i = 0; i < elem.length; i++) {
    elem[i].addEventListener('click', submitHistory);
  }
</script>

</html>